.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.polygon {
  fill: blue !important;
  opacity: .4 !important;
  pointer-events: all;
}

.mesh {
  stroke: blue !important;
  stroke-width: 3 !important;
  opacity: .4 !important;
  pointer-events: all;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.districts {
  fill: #bbb;
}

.districts :hover {
  fill: orange;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}
